.progress-div
{
    margin-top:20px;
    background-color: rgb(233, 233, 233);
    border-radius: .5rem;
    min-width: 100%;
    max-width: 100%;
}

.progress
{
    background-color: #11c9d0;
    height: 20px;
    border-radius: 1rem;
    transition: 2s ease;
    transition: 1s linear;

}
.progbar
{
  margin: auto;
  height: 50vh;

}
