.menu
{
    background-color: rgb(131, 32, 32);
    max-width: 60%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 4em;
}
.menu .intern
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4em;

    padding-bottom: 1em;

    background-color: rgb(218, 218, 218);

}
.menu .intern > h2
{
    margin: auto;
    width: fit-content;
    font-size: clamp(13px, 5vw, 55px);

    margin-bottom: 3%;
    margin-top: clamp(10px, 3%, 20px);

}
.menu .intern > * {
    margin: auto;
    margin-top: 5%;
}

.menu .intern div.content 
{
    
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;


}
/*radio*/
.menu fieldset
{
    padding: 4%;
    padding-left: 6%;
    max-width: 11em;
    min-width: 1em;
}
.menu legend
{
    font-size: medium;
}
.menu .content .scores
{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 50%;
}
@media screen and (max-width: 650px)
{
    .menu .content 
    {
        flex-direction: column;
    }
    .menu .content .scores
    {
        width: auto;
        max-width: none;
    }
    .menu legend
    {
        margin-bottom: 0;
    }
    .menu fieldset
    {
        width: 100%;
        max-width: none;
    }
    .menu button
    {
        padding: clamp(3px, 3vw, 15px);
    }
}